*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
#bg{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(./df098d50fae8f2c819f878a8c1fa137a.jpg);
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: buttermilk;
    font-size: 190px;
    color: white;
    mix-blend-mode: difference;
}